macro_toggle_all_fold: macro_toggle_all_fold{
compatible = "zmk,behavior-macro";
label = "macro_toggle_all_fold";
#binding-cells = <0>;
bindings = <&kp Z>, <&kp CAPS>, <&kp A>, <&kp CAPS>;
};
macro_toggle_fold: macro_toggle_fold{
compatible = "zmk,behavior-macro";
label = "macro_toggle_fold";
#binding-cells = <0>;
bindings = <&kp Z>, <&kp A>;
};
macro_write: macro_write{
compatible = "zmk,behavior-macro";
label = "macro_write";
#binding-cells = <0>;
bindings = <&kp COLON>, <&kp W>, <&kp RETURN>;
};
macro_write_quit: macro_write_quit{
compatible = "zmk,behavior-macro";
label = "macro_write_quit";
#binding-cells = <0>;
bindings = <&kp COLON>, <&kp W>, <&kp Q>, <&kp RETURN>;
};